other.json
[
    {
        "id": "0448341862174cb9",
        "type": "tab",
        "label": "花蓮活動出席系統 (V12-Production)",
        "disabled": true,
        "info": ""
    },
    {
        "id": "0d2446aaacee67b7",
        "type": "function",
        "z": "0448341862174cb9",
        "name": "設定全域資料",
        "func": "// 1. 設定 Master Data CSV\nconst MASTER_DATA = `分類,單位,職稱,姓名,備註\n立法院,立法院,立法委員,傅崐萁,\n立法院,傅崐萁立辦,主任,潘俊霖,\n立法院,傅崐萁立辦,主任,邱惠敏,\n立法院,傅崐萁立辦,主任,陳仲敏,\n立法院,立法院,立法委員,鄭天才,\n立法院,鄭天財立辦,主任,陳慶喜,\n中央機關,行政院東部聯合服務中心,執行長,洪宗楷,\n中央機關,行政院東部聯合服務中心,副執行長,郭應義,\n中央機關,行政院東部聯合服務中心,主任,張惇涵,\n中央機關,農業部,部長,陳駿季,\n中央機關,農業部動植物防疫檢疫署,署長,杜麗華,\n中央機關,農業部農糧署,署長,姚士源,\n中央機關,農業部農糧署,副署長,陳啟榮,\n中央機關,農業部農糧署農業資源組有機農業科,科長,陳星宇,\n中央機關,農業部農糧署農業資源組,簡任技正,董蓁,\n中央機關,農業部農糧署農業資源組,組長,洪宏毅,\n中央機關,農業部農糧署東區分署,分署長,林美華,\n中央機關,農業部農糧署東區分署,副分署長,陳吉村,\n中央機關,農業部農糧署東區分署,秘書,劉向正,\n中央機關,農業部農糧署東區分署農業科,科長,陳冠瑋,\n中央機關,農業部農糧署東區分署稻作科,科長,林文揚,\n中央機關,農業部農糧署東區分署雜糧科,科長,黃嘉輝,\n中央機關,農業部農糧署東區分署園藝科,科長,嚴靜瑛,\n中央機關,農業部農糧署東區分署綜合企劃科,科長,張仙芝,\n中央機關,花蓮區農業改良場,場長,楊大吉,\n中央機關,花蓮區農業改良場,副場長,宣大平,\n中央機關,花蓮區農業改良場有機農業研究中心,主任,林立,\n中央機關,花蓮區農業改良場,秘書,葉育哲,\n中央機關,花蓮區農業改良場作物環境科,科長,蔡依真,\n中央機關,花蓮區農業改良場作物改良科,科長,吳岱融,\n中央機關,花蓮區農業改良場農業推廣科,科長,劉興榮,\n中央機關,農業部林業及自然保育署(林保署)花蓮分署,分署長,黃群策,\n中央機關,農業部農村發展及水土保持署(水保署)花蓮分署,分署長,鐘啟榮,\n中央機關,農業部農村發展及水土保持署(水保署)花蓮分署,秘書,王志豪,\n中央機關,農田水利署花蓮管理處,處長,張麟瑋,\n中央機關,交通部觀光局花東縱谷風景區管理處,處長,許宗民,\n花蓮縣政府,,縣長,徐榛蔚,\n花蓮縣政府,,副縣長,顏新章,\n花蓮縣政府,花蓮縣政府,秘書長,饒忠,\n花蓮縣政府,花蓮縣地方稅務局,局長,呂玉枝,\n花蓮縣政府,文化局,局長,陳建村,\n花蓮縣政府,環境保護局,局長,饒慶龍,\n花蓮縣政府,花蓮縣衛生局,局長,朱家祥,\n花蓮縣政府,花蓮縣消防局,局長,吳兆遠,\n花蓮縣政府,花蓮縣警察局,局長,范織坤,\n花蓮縣政府,政風處,處長,唐文斌,\n花蓮縣政府,行政暨研考處,處長,葉俊麟,\n花蓮縣政府,客家事務處,處長,潘乾鑑,\n花蓮縣政府,教育處,代理處長,翁書敏,\n花蓮縣政府,觀光處,處長,余明勲,\n花蓮縣政府,社會處,處長,陳加富,\n花蓮縣政府,農業處,處長,陳淑雯,\n花蓮縣政府,人事處,處長,吳賢惠,\n花蓮縣政府,原住民行政處,處長,督固·撒耘,\n花蓮縣政府,民政處,代理處長,吳俊毅,\n花蓮縣政府,財政處,處長,劉台文,\n花蓮縣政府,建設處,處長,鄧子榆,\n花蓮縣政府,地政處,處長,饒忠,\n花蓮縣政府,主計處,處長,楊姿宜,\n花蓮縣政府,國際事務中心,秘書,楊順宇,\n農會,花蓮縣農會,總幹事,吳昆儒,\n農會,花蓮縣農會,理事長,呂律均,\n農會,花蓮縣農會,常務監事,余國基,\n農會,新秀地區農會,總幹事,陳定信,\n農會,新秀地區農會,理事長,游象強,\n農會,新秀地區農會,常務監事,林秀美,\n農會,新秀地區農會,指導員,張峻瑋,\n農會,花蓮市農會,總幹事,蔣淑惠,\n農會,花蓮市農會,理事長,趙瑞平,\n農會,花蓮市農會,常務監事,陳保成,\n農會,花蓮市農會,供銷部主任,胡子華,\n農會,吉安鄉農會,總幹事,張德奇,\n農會,吉安鄉農會,理事長,鄧双奎,\n農會,吉安鄉農會,常務監事,徐德文,\n農會,壽豐鄉農會,總幹事,黃啟祥,\n農會,壽豐鄉農會,理事長,周伯駿,\n農會,壽豐鄉農會,常務監事,徐進興,\n農會,鳳榮地區農會,總幹事,黃榮和,\n農會,鳳榮地區農會,理事長,曾建忠,\n農會,鳳榮地區農會,常務監事,曾仁土,\n農會,光豐地區農會,理事長,王金財,\n農會,光豐地區農會,常務監事,張進華,\n農會,光豐地區農會,總幹事,張明發,\n農會,光豐地區農會,推廣部主任,黃桂秋,\n農會,瑞穗鄉農會,理事長,魏清河,\n農會,瑞穗鄉農會,常務監事,羅文騰,\n農會,瑞穗鄉農會,總幹事,黃盛皇,\n農會,玉溪地區農會,理事長,陳錦竹,\n農會,玉溪地區農會,常務監事,吳俞螢,\n農會,玉溪地區農會,總幹事,蔡宗翰,\n農會,富里鄉農會,總幹事,張素華,\n農會,富里鄉農會,理事長,黃正乾,\n農會,富里鄉農會,常務監事,蕭淵水,\n農會,富里鄉農會,旅遊部主任,林秋枝,\n農會,富里鄉農會,推廣部主任,鄧富祥,\n漁會,花蓮區漁會,理事長,王登義,\n漁會,花蓮區漁會,常務監事,蔡盛忠,\n漁會,花蓮區漁會,總幹事,林砡漢,\n漁會,花蓮區漁會,供銷部主任,洪銘芳,\n漁會,花蓮區漁會,推廣部主任,楊婉嬅,\n漁會,花蓮區漁會,推廣部助理幹事,向俊龍,\n民間團體／基金會,和誼有機農業基金會,董事長,黃山內,\n民間團體／基金會,慈心有機農業發展基金會,執行長,蘇慕容,\n民間團體,主婦聯盟,理事主席,彭桂枝,\n民間團體,主婦聯盟,理事,黃淑德,\n民間團體,仰山文教基金會,秘書長,陳鑫益,\n民間團體,玉里高中教育基金會董事長,董事長,黃耀賢,\n民間團體,花蓮縣蔬菜運銷合作社,理事主席,李順德,\n民間團體,花蓮縣蔬菜運銷合作社,監事主席,江新偉,\n民間團體,花蓮縣蔬菜運銷合作社,副理,張志超,\n民間團體,花蓮縣蔬菜運銷合作社,課長,張志偉,\n民間團體,花蓮縣婦女會,理事長,邱美雲,\n企業,里仁事業股份有限公司,總經理,李妙玲,\n企業,永豐餘生技,董事長,何奕佳,\n企業,福業國際股份有限公司,,李達祺,\n企業,福業國際股份有限公司,,盧嘉東,\n企業,淺草堂,創辦人,曾吉生,\n企業,銀川永續農場,總經理,梁美智,\n企業,原住民電視台,記者,.,\n企業,花蓮好生活農業勞動合作社,理事主席,王彥棠,\n企業,花蓮好生活農業勞動合作社,理事,施清龍,\n企業,花蓮好生活農業勞動合作社,理事,陳正昇,\n企業,東豐拾穗農場,總經理,曾國旗,\n企業,東豐拾穗農場,董事長,曾文珍,\n教育單位,卓溪鄉卓清國民小學,校長,劉千瑜,\n教育單位,玉里鎮樂合國民小學,校長,陳正田,\n教育單位,玉里鎮玉里高級中學,校長,詹坤達,\n教育單位,古風國民小學,校長,李東泰,\n教育單位,退休校長,校長,陳俊茗,\n鄉鎮市民代表,花蓮市民代表會,第01選舉區市民代表,黃達祥,\n鄉鎮市民代表,花蓮市民代表會,第01選舉區市民代表,謝宜萱,\n鄉鎮市民代表,花蓮市民代表會,第01選舉區市民代表,蔣邦法,\n鄉鎮市民代表,花蓮市民代表會,第01選舉區市民代表,蔡翼陽,\n鄉鎮市民代表,花蓮市民代表會,第02選舉區市民代表,楊哲灃,\n鄉鎮市民代表,花蓮市民代表會,第03選舉區市民代表,江如玲,\n鄉鎮市民代表,花蓮市民代表會,第03選舉區市民代表,歐彥志,\n鄉鎮市民代表,花蓮市民代表會,第03選舉區市民代表,許願神,\n鄉鎮市民代表,花蓮市民代表會,第03選舉區市民代表,江奉宜,\n鄉鎮市民代表,花蓮市民代表會,第03選舉區市民代表,魏鈺晟,\n鄉鎮市民代表,花蓮市民代表會,第04選舉區市民代表,田珍綺,\n鄉鎮市民代表,花蓮市民代表會,第04選舉區市民代表,莊依婕,\n鄉鎮市民代表,花蓮市民代表會,第04選舉區市民代表,陳惠卿,\n鄉鎮市民代表,花蓮市民代表會,第04選舉區市民代表,李振瑋,\n鄉鎮市民代表,花蓮市民代表會,第04選舉區市民代表,游政霖,\n鄉鎮市民代表,花蓮市民代表會,第04選舉區市民代表,黃瑞文,\n鄉鎮市民代表,花蓮市民代表會,第04選舉區市民代表,林百瑞,\n鄉鎮市民代表,花蓮市民代表會,第05選舉區市民代表,蕭民隆,\n鄉鎮市民代表,花蓮市民代表會,第05選舉區市民代表,平島．部定,\n鄉鎮市民代表,鳳林鎮民代表會,第01選舉區鎮民代表,林子齊,\n鄉鎮市民代表,鳳林鎮民代表會,第01選舉區鎮民代表,郭岳霖,\n鄉鎮市民代表,鳳林鎮民代表會,第01選舉區鎮民代表,翁林瑞蘭,\n鄉鎮市民代表,鳳林鎮民代表會,第01選舉區鎮民代表,詹清忠,\n鄉鎮市民代表,鳳林鎮民代表會,第01選舉區鎮民代表,石明俊,\n鄉鎮市民代表,鳳林鎮民代表會,第01選舉區鎮民代表,吳徐素美,\n鄉鎮市民代表,鳳林鎮民代表會,第02選舉區鎮民代表,龍春文,\n鄉鎮市民代表,鳳林鎮民代表會,第02選舉區鎮民代表,馮文光,\n鄉鎮市民代表,鳳林鎮民代表會,第03選舉區鎮民代表,劉喜湘,\n鄉鎮市民代表,鳳林鎮民代表會,第04選舉區鎮民代表,黃新德 Amid‧ ˆApak,\n鄉鎮市民代表,鳳林鎮民代表會,第04選舉區鎮民代表,連金福,\n鄉鎮市民代表,玉里鎮民代表會,第01選舉區鎮民代表,吳朝成,\n鄉鎮市民代表,玉里鎮民代表會,第01選舉區鎮民代表,張明慧,\n鄉鎮市民代表,玉里鎮民代表會,第01選舉區鎮民代表,呂佳怡,\n鄉鎮市民代表,玉里鎮民代表會,第01選舉區鎮民代表,羅世泉,\n鄉鎮市民代表,玉里鎮民代表會,第01選舉區鎮民代表,姜文博,\n鄉鎮市民代表,玉里鎮民代表會,第01選舉區鎮民代表,徐玉珠,\n鄉鎮市民代表,玉里鎮民代表會,第01選舉區鎮民代表,吳新文,\n鄉鎮市民代表,玉里鎮民代表會,第02選舉區鎮民代表,周鑾英,\n鄉鎮市民代表,玉里鎮民代表會,第03選舉區鎮民代表,林彩英,\n鄉鎮市民代表,玉里鎮民代表會,第04選舉區鎮民代表,謝德川,\n鄉鎮市民代表,玉里鎮民代表會,第04選舉區鎮民代表,秀吉‧撒夫洛,\n鄉鎮市民代表,新城鄉民代表會,第01選舉區鄉民代表,林國賢,\n鄉鎮市民代表,新城鄉民代表會,第02選舉區鄉民代表,陳柏錩,\n鄉鎮市民代表,新城鄉民代表會,第02選舉區鄉民代表,郭彩寶,\n鄉鎮市民代表,新城鄉民代表會,第02選舉區鄉民代表,林志盛,\n鄉鎮市民代表,新城鄉民代表會,第02選舉區鄉民代表,傅緯豪,\n鄉鎮市民代表,新城鄉民代表會,第02選舉區鄉民代表,陳秀玲,\n鄉鎮市民代表,新城鄉民代表會,第03選舉區鄉民代表,梁玉華,\n鄉鎮市民代表,新城鄉民代表會,第03選舉區鄉民代表,張美華,\n鄉鎮市民代表,新城鄉民代表會,第03選舉區鄉民代表,李秋男,\n鄉鎮市民代表,新城鄉民代表會,第04選舉區鄉民代表,呂春美 Iku‧Karang,\n鄉鎮市民代表,新城鄉民代表會,第04選舉區鄉民代表,田金峰,\n鄉鎮市民代表,吉安鄉民代表會,第01選舉區鄉民代表,劉靜文,\n鄉鎮市民代表,吉安鄉民代表會,第01選舉區鄉民代表,黃登科,\n鄉鎮市民代表,吉安鄉民代表會,第01選舉區鄉民代表,姜景文,\n鄉鎮市民代表,吉安鄉民代表會,第01選舉區鄉民代表,林宗達,\n鄉鎮市民代表,吉安鄉民代表會,第01選舉區鄉民代表,蘇文將,\n鄉鎮市民代表,吉安鄉民代表會,第02選舉區鄉民代表,高德安,\n鄉鎮市民代表,吉安鄉民代表會,第02選舉區鄉民代表,温文谷,\n鄉鎮市民代表,吉安鄉民代表會,第02選舉區鄉民代表,黃金發,\n鄉鎮市民代表,吉安鄉民代表會,第03選舉區鄉民代表,彭建華,\n鄉鎮市民代表,吉安鄉民代表會,第03選舉區鄉民代表,邱美雲,\n鄉鎮市民代表,吉安鄉民代表會,第03選舉區鄉民代表,詹益萬,\n鄉鎮市民代表,吉安鄉民代表會,第03選舉區鄉民代表,楊靖妍,\n鄉鎮市民代表,吉安鄉民代表會,第04選舉區鄉民代表,余震華,\n鄉鎮市民代表,吉安鄉民代表會,第04選舉區鄉民代表,林志忠 Akiyu Malu,\n鄉鎮市民代表,壽豐鄉民代表會,第01選舉區鄉民代表,鄭美香,\n鄉鎮市民代表,壽豐鄉民代表會,第01選舉區鄉民代表,黃水龍,\n鄉鎮市民代表,壽豐鄉民代表會,第01選舉區鄉民代表,許凱彬,\n鄉鎮市民代表,壽豐鄉民代表會,第01選舉區鄉民代表,諶武成,\n鄉鎮市民代表,壽豐鄉民代表會,第02選舉區鄉民代表,李錦福,\n鄉鎮市民代表,壽豐鄉民代表會,第02選舉區鄉民代表,張仁俊,\n鄉鎮市民代表,壽豐鄉民代表會,第02選舉區鄉民代表,周欽南,\n鄉鎮市民代表,壽豐鄉民代表會,第03選舉區鄉民代表,林瑞國,\n鄉鎮市民代表,壽豐鄉民代表會,第04選舉區鄉民代表,馬其山 Lasang Cilu,\n鄉鎮市民代表,壽豐鄉民代表會,第04選舉區鄉民代表,謝東穎,\n鄉鎮市民代表,壽豐鄉民代表會,第04選舉區鄉民代表,林晨延,\n鄉鎮市民代表,光復鄉民代表會,第01選舉區鄉民代表,廖翊鈞,\n鄉鎮市民代表,光復鄉民代表會,第01選舉區鄉民代表,林淑清,\n鄉鎮市民代表,光復鄉民代表會,第01選舉區鄉民代表,王武奇,\n鄉鎮市民代表,光復鄉民代表會,第01選舉區鄉民代表,李美瑩,\n鄉鎮市民代表,光復鄉民代表會,第02選舉區鄉民代表,鍾蔚諮,\n鄉鎮市民代表,光復鄉民代表會,第03選舉區鄉民代表,鄭萬正Ipay-Kaeti,\n鄉鎮市民代表,光復鄉民代表會,第03選舉區鄉民代表,蔡智輝,\n鄉鎮市民代表,光復鄉民代表會,第03選舉區鄉民代表,吳榮豊,\n鄉鎮市民代表,光復鄉民代表會,第04選舉區鄉民代表,鄭金寶Kumod‧Angan,\n鄉鎮市民代表,光復鄉民代表會,第04選舉區鄉民代表,吳輝明,\n鄉鎮市民代表,光復鄉民代表會,第04選舉區鄉民代表,吳依臻,\n鄉鎮市民代表,豐濱鄉民代表會,第01選舉區鄉民代表,古方新,\n鄉鎮市民代表,豐濱鄉民代表會,第02選舉區鄉民代表,劉靜芳,\n鄉鎮市民代表,豐濱鄉民代表會,第02選舉區鄉民代表,吳耀福,\n鄉鎮市民代表,豐濱鄉民代表會,第02選舉區鄉民代表,李威寰,\n鄉鎮市民代表,豐濱鄉民代表會,第02選舉區鄉民代表,司玉花 Akiyok‧Sawmah,\n鄉鎮市民代表,豐濱鄉民代表會,第02選舉區鄉民代表,吳素英,\n鄉鎮市民代表,豐濱鄉民代表會,第02選舉區鄉民代表,何俊雄,\n鄉鎮市民代表,瑞穗鄉民代表會,第01選舉區鄉民代表,羅文騰,\n鄉鎮市民代表,瑞穗鄉民代表會,第01選舉區鄉民代表,林玉梅,\n鄉鎮市民代表,瑞穗鄉民代表會,第01選舉區鄉民代表,鍾明秋,\n鄉鎮市民代表,瑞穗鄉民代表會,第01選舉區鄉民代表,陳國政,\n鄉鎮市民代表,瑞穗鄉民代表會,第01選舉區鄉民代表,陳進光,\n鄉鎮市民代表,瑞穗鄉民代表會,第01選舉區鄉民代表,林佳和,\n鄉鎮市民代表,瑞穗鄉民代表會,第02選舉區鄉民代表,賴柄佑,\n鄉鎮市民代表,瑞穗鄉民代表會,第03選舉區鄉民代表,陳源發,\n鄉鎮市民代表,瑞穗鄉民代表會,第03選舉區鄉民代表,陳秀珍,\n鄉鎮市民代表,瑞穗鄉民代表會,第03選舉區鄉民代表,鍾紫韻,\n鄉鎮市民代表,瑞穗鄉民代表會,第03選舉區鄉民代表,陳秀蘭,\n鄉鎮市民代表,富里鄉民代表會,第01選舉區鄉民代表,葉家鴻,\n鄉鎮市民代表,富里鄉民代表會,第01選舉區鄉民代表,蕭文龍,\n鄉鎮市民代表,富里鄉民代表會,第01選舉區鄉民代表,林夢柔,\n鄉鎮市民代表,富里鄉民代表會,第02選舉區鄉民代表,杜金模,\n鄉鎮市民代表,富里鄉民代表會,第02選舉區鄉民代表,何貴香,\n鄉鎮市民代表,富里鄉民代表會,第02選舉區鄉民代表,簡明志,\n鄉鎮市民代表,富里鄉民代表會,第03選舉區鄉民代表,潘務本 Saw Mah,\n鄉鎮市民代表,秀林鄉民代表會,第01選舉區鄉民代表,白世義,\n鄉鎮市民代表,秀林鄉民代表會,第01選舉區鄉民代表,夏義松,\n鄉鎮市民代表,秀林鄉民代表會,第01選舉區鄉民代表,王則元,\n鄉鎮市民代表,秀林鄉民代表會,第01選舉區鄉民代表,白靜文,\n鄉鎮市民代表,秀林鄉民代表會,第01選舉區鄉民代表,白秀娟,\n鄉鎮市民代表,秀林鄉民代表會,第02選舉區鄉民代表,游青龍,\n鄉鎮市民代表,秀林鄉民代表會,第02選舉區鄉民代表,駱燕玲,\n鄉鎮市民代表,秀林鄉民代表會,第03選舉區鄉民代表,丁麗芳,\n鄉鎮市民代表,秀林鄉民代表會,第03選舉區鄉民代表,王沈剛竹,\n鄉鎮市民代表,秀林鄉民代表會,第03選舉區鄉民代表,賴偉翔,\n鄉鎮市民代表,秀林鄉民代表會,第04選舉區鄉民代表,黃福祥,\n鄉鎮市民代表,萬榮鄉民代表會,第01選舉區鄉民代表,劉光照,\n鄉鎮市民代表,萬榮鄉民代表會,第01選舉區鄉民代表,潘元基 Bowxil．Ragu,\n鄉鎮市民代表,萬榮鄉民代表會,第02選舉區鄉民代表,賴淑鶯,\n鄉鎮市民代表,萬榮鄉民代表會,第02選舉區鄉民代表,劉添順,\n鄉鎮市民代表,萬榮鄉民代表會,第03選舉區鄉民代表,江溫和,\n鄉鎮市民代表,萬榮鄉民代表會,第03選舉區鄉民代表,古金榮,\n鄉鎮市民代表,萬榮鄉民代表會,第03選舉區鄉民代表,陳群,\n鄉鎮市民代表,卓溪鄉民代表會,第01選舉區鄉民代表,詹志郎 Takun·Tusang,\n鄉鎮市民代表,卓溪鄉民代表會,第01選舉區鄉民代表,蘇貴妹 Kimi‧Yuji,\n鄉鎮市民代表,卓溪鄉民代表會,第01選舉區鄉民代表,温德魏,\n鄉鎮市民代表,卓溪鄉民代表會,第02選舉區鄉民代表,邱秀英 A bus takisvilainan,\n鄉鎮市民代表,卓溪鄉民代表會,第02選舉區鄉民代表,高發財,\n鄉鎮市民代表,卓溪鄉民代表會,第02選舉區鄉民代表,李桂英 Savi Takisvilainan,\n鄉鎮市民代表,卓溪鄉民代表會,第02選舉區鄉民代表,張永華,\n花蓮縣議會,議會,議長,張峻,\n花蓮縣議會,議會,副議長,徐雪玉,\n花蓮縣議會,花蓮縣議會,秘書,郭怡廷,\n花蓮縣議會,(1)花蓮市,議員,魏嘉賢,\n花蓮縣議會,(1)花蓮市,議員,謝國榮,\n花蓮縣議會,(1)花蓮市,議員,傅國淵,\n花蓮縣議會,(1)花蓮市,議員,韓林梅,\n花蓮縣議會,(1)花蓮市,議員,吳東昇,\n花蓮縣議會,(1)花蓮市,議員,張美慧,\n花蓮縣議會,(1)花蓮市,議員,楊華美,\n花蓮縣議會,(1)花蓮市,議員,胡仁順,\n花蓮縣議會,(1)花蓮市,議員,徐子芳,\n花蓮縣議會,(2)新秀,議員,鄭寶秀,\n花蓮縣議會,(2)新秀,議員,邱光明,\n花蓮縣議會,(3)吉壽鳳光豐萬,議員,鄭乾龍,\n花蓮縣議會,(3)吉壽鳳光豐萬,議員,林品仰,\n花蓮縣議會,(3)吉壽鳳光豐萬,議員,林則箷,\n花蓮縣議會,(3)吉壽鳳光豐萬,議員,黃馨,\n花蓮縣議會,(3)吉壽鳳光豐萬,議員,林源富,\n花蓮縣議會,(3)吉壽鳳光豐萬,議員,吳建志,\n花蓮縣議會,(4)瑞玉富卓,議員,詹金富,\n花蓮縣議會,(4)瑞玉富卓,議員,鍾素政,\n花蓮縣議會,(4)瑞玉富卓,議員,黃鈴蘭,\n花蓮縣議會,(5)平原民(花新秀吉),議員,李正文,\n花蓮縣議會,(5)平原民(花新秀吉),議員,周駿宥,\n花蓮縣議會,(5)平原民(花新秀吉),議員,笛布斯．顗賚,\n花蓮縣議會,(6)平原民(壽鳳萬光豐),議員,蔡依靜（Lamen‧Panay）,\n花蓮縣議會,(6)平原民(壽鳳萬光豐),議員,林正福,\n花蓮縣議會,(7)平原民(瑞玉富卓),議員,林玉芬,\n花蓮縣議會,(7)平原民(瑞玉富卓),議員,哈尼．噶照（Hani Kacaw）,\n花蓮縣議會,(8)山原民(秀花新吉壽),議員,程美蓮,\n花蓮縣議會,(9)山原民(萬鳳光豐瑞),議員,簡智隆,\n花蓮縣議會,(10)山原民(卓玉富),議員,金淑敏,\n花蓮縣議會,張峻議長辦公室,秘書,梁哲彬,\n花蓮縣議會,徐子芳議辦,服務處主任,楊喻涵,\n花蓮縣議會,吳東昇議辦,服務處主任,林麗玲,\n花蓮縣議會,楊華美議辦,服務處助理,簡子涵,\n花蓮縣議會,魏嘉賢議辦,服務處助理,謝沅祐,\n花蓮縣議會,張美慧議辦,服務處副主任,賴子羚,\n花蓮縣議會,笛布斯.顗賚議辦,服務處主任,陳麗娟,\n花蓮縣議會,笛布斯.顗賚議辦,服務處助理,陳吳豫,\n花蓮縣議會,林源富議辦,服務處執行長,盧俐雯,\n花蓮縣議會,程美蓮議辦,服務處助理,林品妘,\n花蓮縣議會,吳東昇議辦,服務處主任,林麗玲,\n花蓮縣議會,韓林梅議辦,服務處主任,吳瑞斌,\n花蓮縣議會,李正文議辦,服務處秘書,張小明,\n花蓮縣議會,金淑敏議辦,服務處主任,葉保貴,\n地方政府,花蓮市公所,市長,魏嘉彥,\n地方政府,吉安鄉公所,鄉長,游淑貞,\n地方政府,新城鄉公所,鄉長,何禮臺,\n地方政府,秀林鄉公所,鄉長,王玫瑰（Sitang Yuci）,\n地方政府,壽豐鄉公所,鄉長,曾淑懿,\n地方政府,鳳林鎮公所,鎮長,林建平,\n地方政府,光復鄉公公所,鄉長,林清水,\n地方政府,瑞穗鄉公所,鄉長,吳萬德,\n地方政府,豐濱鄉公所,鄉長,邱福順（Kacaw‧Folaw）,\n地方政府,玉里鎮公所,鎮長,龔文俊,\n地方政府,富里鄉公所,鄉長,江東成,\n地方政府,萬榮鄉公所,鄉長,梁光明,\n地方政府,卓溪鄉公所,鄉長,田桂花,\n地方政府,花蓮市公所,秘書,蘇浩然,\n地方政府,花蓮市公所,秘書,蔡淑香,\n地方政府,吉安鄉公所,秘書,黃培軒,\n地方政府,吉安鄉公所,主任,曾金龍,\n地方政府,吉安鄉公所,專員,陳柏帆,\n地方政府,新城鄉公所,專員,葛秋夫,\n地方政府,新城鄉公所,專員,李紳旭,\n地方政府,新城鄉公所,主任,胡麗琴,\n地方政府,秀林鄉公所,機要秘書,金玉湘,\n地方政府,秀林鄉公所,秘書,洛金達紹,\n地方政府,萬榮鄉公所,機要秘書,江溫和,\n地方政府,玉里鎮公所,秘書,黃恩妮,\n地方政府,卓溪鄉公所,主任,李忠祥,\n地方政府,警察局玉里分局,分局長,黃清輝,\n里長,花蓮市民立里,里長,張萱,\n里長,花蓮市民運里,里長,林美靜,\n里長,花蓮市民族里,里長,張東耀,\n里長,花蓮市主信里,里長,吳健澧,\n里長,花蓮市主睦里,里長,黃榮康,\n里長,花蓮市主和里,里長,高健雄,\n里長,花蓮市國威里,里長,胡維鴻,\n里長,花蓮市國風里,里長,黃秀霖,\n里長,花蓮市民德里,里長,周玉寶,\n里長,花蓮市民意里,里長,顏春有,\n里長,花蓮市主義里,里長,蔡佳憲,\n里長,花蓮市主工里,里長,姜梅蘭,\n里長,花蓮市主農里,里長,劉冠宏,\n里長,花蓮市國治里,里長,林建岐,\n里長,花蓮市國富里,里長,莊萬來,\n里長,花蓮市民政里,里長,林志鵬,\n里長,花蓮市民勤里,里長,黎新順,\n里長,花蓮市民生里,里長,吳明崇,\n里長,花蓮市主商里,里長,廖大慶,\n里長,花蓮市主學里,里長,陳紀美雲,\n里長,花蓮市國光里,里長,魏陽進,\n里長,花蓮市國聯里,里長,林靜芬,\n里長,花蓮市國強里,里長,吳逸仁,\n里長,花蓮市民心里,里長,孫華祥,\n里長,花蓮市民樂里,里長,黃村吉,\n里長,花蓮市民主里,里長,許訓瑜,\n里長,花蓮市主勤里,里長,蔡烈旗,\n里長,花蓮市主力里,里長,林建成,\n里長,花蓮市國安里,里長,蔡月琴,\n里長,花蓮市國魂里,里長,趙瑞平,\n里長,花蓮市國慶里,里長,林群上,\n里長,花蓮市民享里,里長,徐靖縈,\n里長,花蓮市民有里,里長,簡福其,\n里長,花蓮市民權里,里長,劉原良,\n里長,花蓮市主計里,里長,張家寧,\n里長,花蓮市主權里,里長,陳悅芳,\n里長,花蓮市國華里,里長,林軒羽,\n里長,花蓮市國防里,里長,黃強,\n里長,花蓮市國福里,里長,李鳳凰,\n里長,花蓮市國裕里,里長,杜曉炬,\n里長,花蓮市主安里,里長,許時章,\n里長,花蓮市國盛里,里長,張芝瑜,\n里長,花蓮市國興里,里長,俞慧君,\n里長,花蓮市民孝里,里長,黃石貴,\n里長,鳳林鎮鳳仁里,里長,許正燊,\n里長,鳳林鎮鳳義里,里長,蕭文立,\n里長,鳳林鎮鳳禮里,里長,黃清陽,\n里長,鳳林鎮鳳智里,里長,黃靜宜,\n里長,鳳林鎮鳳信里,里長,張振華,\n里長,鳳林鎮山興里,里長,謝盛宜 Calaw Kaniw,\n里長,鳳林鎮大榮里,里長,莊秀英,\n里長,鳳林鎮北林里,里長,黃正輝,\n里長,鳳林鎮南平里,里長,陳文乾,\n里長,鳳林鎮林榮里,里長,陳嬌妹,\n里長,鳳林鎮長橋里,里長,邱進崑,\n里長,鳳林鎮森榮里,里長,謝玉珍,\n里長,玉里鎮中城里,里長,姜學文,\n里長,玉里鎮啟模里,里長,陳文祥,\n里長,玉里鎮永昌里,里長,趙琦文,\n里長,玉里鎮泰昌里,里長,李家樑,\n里長,玉里鎮國武里,里長,陳玉蘭,\n里長,玉里鎮源城里,里長,李春生,\n里長,玉里鎮長良里,里長,陳文華,\n里長,玉里鎮樂合里,里長,陳阿洲,\n里長,玉里鎮東豐里,里長,周富美,\n里長,玉里鎮觀音里,里長,陳金寶,\n里長,玉里鎮松浦里,里長,陳錦忠,\n里長,玉里鎮春日里,里長,陳青廉,\n里長,玉里鎮德武里,里長,楊敏雄,\n里長,玉里鎮三民里,里長,蔡貴富,\n里長,玉里鎮大禹里,里長,孔慶君,\n村長,新城鄉新城村,村長,胡國雄,\n村長,新城鄉順安村,村長,黃仲祥,\n村長,新城鄉康樂村,村長,賴明進,\n村長,新城鄉北埔村,村長,黃淑貞,\n村長,新城鄉佳林村,村長,何禮飛,\n村長,新城鄉嘉里村,村長,何禮鳳,\n村長,新城鄉嘉新村,村長,邱明雄,\n村長,新城鄉大漢村,村長,李添富,\n村長,新城鄉新秀村,村長,王秋香,\n村長,吉安鄉北昌村,村長,劉文賢,\n村長,吉安鄉勝安村,村長,陳羿華,\n村長,吉安鄉太昌村,村長,邱耀輝,\n村長,吉安鄉永安村,村長,郭仁添,\n村長,吉安鄉慶豐村,村長,王淑娟,\n村長,吉安鄉吉安村,村長,田秀鳳,\n村長,吉安鄉福興村,村長,黃駿緯,\n村長,吉安鄉南華村,村長,蕭萬生,\n村長,吉安鄉干城村,村長,林世昌,\n村長,吉安鄉永興村,村長,陳源忠,\n村長,吉安鄉稻香村,村長,鄧桂英,\n村長,吉安鄉南昌村,村長,陳振興,\n村長,吉安鄉宜昌村,村長,黃志源,\n村長,吉安鄉仁里村,村長,范國昌,\n村長,吉安鄉東昌村,村長,魏錦添,\n村長,吉安鄉仁安村,村長,廖建緯,\n村長,吉安鄉仁和村,村長,陳淑美,\n村長,吉安鄉光華村,村長,石福春,\n村長,壽豐鄉樹湖村,村長,彭榮華,\n村長,壽豐鄉溪口村,村長,温幸惠,\n村長,壽豐鄉豐山村,村長,梁德仁,\n村長,壽豐鄉豐裡村,村長,鍾曜宇,\n村長,壽豐鄉豐坪村,村長,游淑霞,\n村長,壽豐鄉共和村,村長,錢玉南,\n村長,壽豐鄉壽豐村,村長,諶仲泰,\n村長,壽豐鄉光榮村,村長,陳一星,\n村長,壽豐鄉池南村,村長,張清飛,\n村長,壽豐鄉平和村,村長,張裕勝,\n村長,壽豐鄉志學村,村長,蔡漢東,\n村長,壽豐鄉米棧村,村長,許炎煌,\n村長,壽豐鄉月眉村,村長,張添發,\n村長,壽豐鄉水璉村,村長,蔡素月,\n村長,壽豐鄉鹽寮村,村長,簡福其,\n村長,光復鄉大安村,村長,徐振雄,\n村長,光復鄉大華村,村長,曾天滄,\n村長,光復鄉大平村,村長,曾培靈,\n村長,光復鄉大馬村,村長,王梓安,\n村長,光復鄉大同村,村長,邱金仲,\n村長,光復鄉大進村,村長,林正立,\n村長,光復鄉大全村,村長,林淑珍,\n村長,光復鄉大興村,村長,劉建榮,\n村長,光復鄉大富村,村長,許阿益,\n村長,光復鄉大豐村,村長,黃紹貫,\n村長,光復鄉東富村,村長,黃建桐,\n村長,光復鄉西富村,村長,劉貴滿,\n村長,光復鄉南富村,村長,林萬德,\n村長,光復鄉北富村,村長,黃進正,\n村長,豐濱鄉豐濱村,村長,蔡賢山,\n村長,豐濱鄉新社村,村長,江素珍,\n村長,豐濱鄉磯崎村,村長,陳明憲,\n村長,豐濱鄉港口村,村長,許先忠,\n村長,豐濱鄉靜浦村,村長,黃建治,\n村長,瑞穗鄉瑞穗村,村長,羅文鑑,\n村長,瑞穗鄉瑞美村,村長,林禹賢,\n村長,瑞穗鄉瑞良村,村長,黃義雄,\n村長,瑞穗鄉瑞祥村,村長,黃崧庭,\n村長,瑞穗鄉瑞北村,村長,李孔忠,\n村長,瑞穗鄉舞鶴村,村長,楊明林,\n村長,瑞穗鄉鶴岡村,村長,羅峰,\n村長,瑞穗鄉奇美村,村長,蔣國雄,\n村長,瑞穗鄉富源村,村長,江士仁,\n村長,瑞穗鄉富民村,村長,吳明義,\n村長,瑞穗鄉富興村,村長,陳精浩,\n村長,富里鄉吳江村,村長,葉見喨,\n村長,富里鄉東里村,村長,劉青河,\n村長,富里鄉萬寧村,村長,徐賢淵,\n村長,富里鄉新興村,村長,劉文祥,\n村長,富里鄉竹田村,村長,陳勝駿,\n村長,富里鄉羅山村,村長,鄧素珍,\n村長,富里鄉石牌村,村長,吳裕達,\n村長,富里鄉明里村,村長,黃瑞騰,\n村長,富里鄉富里村,村長,曾明健,\n村長,富里鄉永豐村,村長,陳美月,\n村長,富里鄉豐南村,村長,王晉英,\n村長,富里鄉富南村,村長,廖素淩,\n村長,富里鄉學田村,村長,鄧萬華,\n村長,秀林鄉崇德村,村長,李慧齡,\n村長,秀林鄉富世村,村長,張文盛,\n村長,秀林鄉秀林村,村長,周賢德,\n村長,秀林鄉水源村,村長,洪明輝,\n村長,秀林鄉銅門村,村長,葉清賢,\n村長,秀林鄉文蘭村,村長,田文才,\n村長,秀林鄉景美村,村長,田廣增,\n村長,秀林鄉佳民村,村長,尤煥青,\n村長,秀林鄉和平村,村長,董蓮怡,\n村長,萬榮鄉西林村,村長,陳長旭,\n村長,萬榮鄉見晴村,村長,王菊妹,\n村長,萬榮鄉萬榮村,村長,蔡雅雯,\n村長,萬榮鄉明利村,村長,謝忠義,\n村長,萬榮鄉馬遠村,村長,馬鍾啓,\n村長,萬榮鄉紅葉村,村長,呂明堅,\n村長,卓溪鄉崙山村,村長,宋輝國,\n村長,卓溪鄉立山村,村長,葉光明,\n村長,卓溪鄉太平村,村長,田光輝,\n村長,卓溪鄉卓溪村,村長,黃品綸,\n村長,卓溪鄉卓清村,村長,何秋明,\n村長,卓溪鄉古風村,村長,陳乙諄,`;\n\n// 2. 存入 Flow 變數\nflow.set(\"masterData\", MASTER_DATA);\n\n// 3. 確保名單陣列初始化\nif (!flow.get(\"guestList\")) flow.set(\"guestList\", []);\nif (!flow.get(\"eventTitle\")) flow.set(\"eventTitle\", \"花蓮活動貴賓簽到\");\nconst s = flow.get(\"schedule\");\nif (!s || s.length === 0) flow.set(\"schedule\", [\n    {\n        \"seq\": \"1\",\n        \"time\": \"08:30\",\n        \"activity\": \"報到\",\n        \"note\": \"\"\n    },\n    {\n        \"seq\": \"2\",\n        \"time\": \"09:00\",\n        \"activity\": \"活動開場\",\n        \"note\": \"\"\n    },\n    {\n        \"seq\": \"3\",\n        \"time\": \"09:10\",\n        \"activity\": \"貴賓致詞\",\n        \"note\": \"\"\n    },\n    {\n        \"seq\": \"4\",\n        \"time\": \"09:30\",\n        \"activity\": \"專題演講\",\n        \"note\": \"\"\n    },\n    {\n        \"seq\": \"5\",\n        \"time\": \"10:30\",\n        \"activity\": \"中場休息\",\n        \"note\": \"\"\n    },\n    {\n        \"seq\": \"6\",\n        \"time\": \"10:50\",\n        \"activity\": \"綜合座談\",\n        \"note\": \"\"\n    },\n    {\n        \"seq\": \"7\",\n        \"time\": \"11:50\",\n        \"activity\": \"大合照/賦歸\",\n        \"note\": \"\"\n    }\n]);\n\n// 4. 設定您的 Token (這裡用您剛剛設好的正確密碼)\nflow.set(\"secureToken\", \"yikueico1207\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "0b8aeaee128e2480",
        "type": "inject",
        "z": "0448341862174cb9",
        "name": "初始化 (啟動執行)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "0d2446aaacee67b7"
            ]
        ]
    },
    {
        "id": "33436ea796b3196f",
        "type": "function",
        "z": "0448341862174cb9",
        "name": "Token 驗證 - GET",
        "func": "const secureToken = flow.get(\"secureToken\");\nconst authHeader = msg.req.headers['authorization'];\n\nif (authHeader && authHeader.trim() === \"Bearer \" + secureToken) {\n    return msg;\n}\n\nmsg.payload = { error: \"Unauthorized\" };\nmsg.statusCode = 401;\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "3d610cb7eb9a0c63"
            ],
            [
                "e3b2f66dc8e3c322"
            ]
        ]
    },
    {
        "id": "9386f8bc8a98df50",
        "type": "function",
        "z": "0448341862174cb9",
        "name": "Token 驗證 - POST Data",
        "func": "const secureToken = flow.get(\"secureToken\");\nconst authHeader = msg.req.headers['authorization'];\n\nif (authHeader && authHeader.trim() === \"Bearer \" + secureToken) {\n    return msg;\n}\n\nmsg.payload = { error: \"Unauthorized\" };\nmsg.statusCode = 401;\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 280,
        "wires": [
            [
                "853be9d6778525fc"
            ],
            [
                "e3b2f66dc8e3c322"
            ]
        ]
    },
    {
        "id": "8ba636d0b0e99d7c",
        "type": "function",
        "z": "0448341862174cb9",
        "name": "Token 驗證 - DELETE",
        "func": "const secureToken = flow.get(\"secureToken\");\nconst authHeader = msg.req.headers['authorization'];\n\nif (authHeader && authHeader.trim() === \"Bearer \" + secureToken) {\n    return msg;\n}\n\nmsg.payload = { error: \"Unauthorized\" };\nmsg.statusCode = 401;\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            [
                "eacd2c3ea4970b6a"
            ],
            [
                "e3b2f66dc8e3c322"
            ]
        ]
    },
    {
        "id": "2cb85dae6658c14c",
        "type": "function",
        "z": "0448341862174cb9",
        "name": "Token 驗證 - POST Import",
        "func": "const secureToken = flow.get(\"secureToken\");\nconst authHeader = msg.req.headers['authorization'];\n\nif (authHeader && authHeader.trim() === \"Bearer \" + secureToken) {\n    return msg;\n}\n\nmsg.payload = { error: \"Unauthorized\" };\nmsg.statusCode = 401;\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 440,
        "wires": [
            [
                "095cd5727653dd05"
            ],
            [
                "e3b2f66dc8e3c322"
            ]
        ]
    },
    {
        "id": "abe3bbe78c1c6842",
        "type": "function",
        "z": "0448341862174cb9",
        "name": "Token 驗證 - PUT Import",
        "func": "const secureToken = flow.get(\"secureToken\");\nconst authHeader = msg.req.headers['authorization'];\n\nif (authHeader && authHeader.trim() === \"Bearer \" + secureToken) {\n    return msg;\n}\n\nmsg.payload = { error: \"Unauthorized\" };\nmsg.statusCode = 401;\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 520,
        "wires": [
            [
                "01933fab8d4322e0"
            ],
            [
                "e3b2f66dc8e3c322"
            ]
        ]
    },
    {
        "id": "e3b2f66dc8e3c322",
        "type": "http response",
        "z": "0448341862174cb9",
        "name": "401 Unauthorized",
        "statusCode": "401",
        "headers": {},
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "ac1df056a70f7f67",
        "type": "http in",
        "z": "0448341862174cb9",
        "name": "GET /api/data",
        "url": "/api/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "33436ea796b3196f"
            ]
        ]
    },
    {
        "id": "3d610cb7eb9a0c63",
        "type": "function",
        "z": "0448341862174cb9",
        "name": "讀取名單與標題",
        "func": "if(msg.payload && msg.payload.error) return null; // 攔截錯誤\n\nmsg.payload = {\n    guests: flow.get(\"guestList\") || [],\n    title: flow.get(\"eventTitle\") || \"花蓮活動貴賓簽到\",\n    schedule: flow.get(\"schedule\") || [],\n    announcement: flow.get(\"announcement\") || \"\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 200,
        "wires": [
            [
                "66f3ef87711f7d49"
            ]
        ]
    },
    {
        "id": "66f3ef87711f7d49",
        "type": "http response",
        "z": "0448341862174cb9",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 780,
        "y": 200,
        "wires": []
    },
    {
        "id": "f733906d2e51eaa9",
        "type": "http in",
        "z": "0448341862174cb9",
        "name": "POST /api/data",
        "url": "/api/data",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "9386f8bc8a98df50"
            ]
        ]
    },
    {
        "id": "853be9d6778525fc",
        "type": "function",
        "z": "0448341862174cb9",
        "name": "更新名單與標題",
        "func": "if(msg.payload && msg.payload.error) return null;\n\nlet data = msg.payload;\nlet currentGuests = flow.get(\"guestList\") || [];\n\nif (Array.isArray(data)) {\n    flow.set(\"guestList\", data);\n    msg.payload = { success: true };\n} \nelse if (data && typeof data === 'object') {\n    // Handle specific actions first\n    if (data.action === 'toggle') {\n        const target = currentGuests.find(g => g.id === data.id);\n        if (target) {\n            target.signed = data.signed;\n            target.signedAt = data.signed ? Date.now() : undefined;\n            flow.set(\"guestList\", currentGuests);\n            msg.payload = { success: true, action: 'toggle', id: data.id, signed: data.signed };\n        } else {\n             msg.payload = { success: false, error: \"Guest not found\" };\n        }\n    }\n    else if (data.action === 'updateNote') {\n        const target = currentGuests.find(g => g.id === data.id);\n        if (target) {\n            target.note = data.note;\n            flow.set(\"guestList\", currentGuests);\n            msg.payload = { success: true, action: 'updateNote', id: data.id, note: data.note };\n        } else {\n             msg.payload = { success: false, error: \"Guest not found\" };\n        }\n    }\n    else {\n        // Default update logic\n        if (data.guests) flow.set(\"guestList\", data.guests);\n        if (data.title) flow.set(\"eventTitle\", data.title);\n        if (data.schedule) flow.set(\"schedule\", data.schedule);\n        if (data.announcement) flow.set(\"announcement\", data.announcement);\n        // Clean up action props if present to avoid confusion if sent with full object\n        // (Though usually full object update won't have 'action')\n        msg.payload = { success: true };\n    }\n} \nelse {\n    msg.payload = { success: false, error: \"Invalid data\" };\n    msg.statusCode = 400;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 280,
        "wires": [
            [
                "856486a3c96ba7ac"
            ]
        ]
    },
    {
        "id": "856486a3c96ba7ac",
        "type": "http response",
        "z": "0448341862174cb9",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 780,
        "y": 280,
        "wires": []
    },
    {
        "id": "dc3fe02386c5de79",
        "type": "http in",
        "z": "0448341862174cb9",
        "name": "DELETE /api/data",
        "url": "/api/data",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "8ba636d0b0e99d7c"
            ]
        ]
    },
    {
        "id": "eacd2c3ea4970b6a",
        "type": "function",
        "z": "0448341862174cb9",
        "name": "清空名單",
        "func": "if(msg.payload && msg.payload.error) return null;\nflow.set(\"guestList\", []);\nmsg.payload = { success: true, message: \"Data cleared\" };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 360,
        "wires": [
            [
                "71b0b8cab837d843"
            ]
        ]
    },
    {
        "id": "71b0b8cab837d843",
        "type": "http response",
        "z": "0448341862174cb9",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "a5e738cfcd5f1129",
        "type": "http in",
        "z": "0448341862174cb9",
        "name": "POST /api/import",
        "url": "/api/import",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "2cb85dae6658c14c"
            ]
        ]
    },
    {
        "id": "095cd5727653dd05",
        "type": "function",
        "z": "0448341862174cb9",
        "name": "分類匯入處理",
        "func": "if(msg.payload && msg.payload.error) return null;\n\nconst targetCategories = msg.payload.targetCategories || [];\nconst MASTER_DATA = flow.get(\"masterData\") || \"\";\nlet currentGuests = flow.get(\"guestList\") || [];\nlet addedCount = 0;\n\nconst classify = (rawCat, unit) => {\n    const cat = (rawCat || \"\").trim().toLowerCase();\n    const u = (unit || \"\").trim().toLowerCase();\n    if (cat.includes(\"立法院\") || cat.includes(\"中央\")) return 1;\n    if (cat.includes(\"議會\")) return 2;\n    if (cat.includes(\"花蓮縣政府\")) return 3;\n    if (cat.includes(\"地方政府\") || cat.includes(\"公所\")) return 4;\n    if (cat.includes(\"農會\") || cat.includes(\"漁會\")) return 5;\n    if (cat.includes(\"代表\")) return 6;\n    if (cat.includes(\"企業\") || cat.includes(\"團體\") || cat.includes(\"教育\") || cat.includes(\"基金會\")) return 7;\n    if (cat.includes(\"村\") || cat.includes(\"里\")) return 8;\n    return 9;\n};\n\nconst lines = MASTER_DATA.split(/\\r\\n|\\n/);\nlines.forEach((line, index) => {\n    if (index === 0 || !line.trim()) return;\n    const cols = line.split(',');\n    const rawCat = cols[0], unit = cols[1], title = cols[2], name = cols[3], note = cols[4] || \"\";\n    if (!name) return;\n\n    const sortOrder = classify(rawCat, unit);\n    if (targetCategories.includes(sortOrder)) {\n        if (!currentGuests.find(g => g.name === name && g.unit === unit)) {\n            currentGuests.push({ \n                id: Date.now().toString(36) + Math.random().toString(36).substr(2),\n                unit, title, name, note, sortOrder, signed: false \n            });\n            addedCount++;\n        }\n    }\n});\n\ncurrentGuests.sort((a, b) => a.sortOrder - b.sortOrder);\nflow.set(\"guestList\", currentGuests);\nmsg.payload = { success: true, addedCount, data: currentGuests };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 440,
        "wires": [
            [
                "2653524a7a55373a"
            ]
        ]
    },
    {
        "id": "2653524a7a55373a",
        "type": "http response",
        "z": "0448341862174cb9",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 780,
        "y": 440,
        "wires": []
    },
    {
        "id": "32e66830b2d91042",
        "type": "http in",
        "z": "0448341862174cb9",
        "name": "PUT /api/import",
        "url": "/api/import",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "abe3bbe78c1c6842"
            ]
        ]
    },
    {
        "id": "01933fab8d4322e0",
        "type": "function",
        "z": "0448341862174cb9",
        "name": "CSV 匯入處理",
        "func": "if(msg.payload && msg.payload.error) return null;\n\nconst csvContent = msg.payload.csvContent || \"\";\nlet currentGuests = flow.get(\"guestList\") || [];\nlet addedCount = 0;\n\nconst lines = csvContent.split(/\\r\\n|\\n/);\nlines.forEach(line => {\n    if (!line.trim()) return;\n    const cols = line.split(',').map(c => c.trim());\n    \n    let name = cols.find(c => c.length >= 2 && c.length <= 4 && !/[長員事師董]/.test(c));\n    let title = cols.find(c => /[長員事師董]/.test(c)) || \"\";\n    let unit = cols.find(c => c !== name && c !== title && c.length >= 2) || \"\";\n\n    if (name) {\n        if (!currentGuests.find(g => g.name === name)) {\n            currentGuests.push({ \n                id: Date.now().toString(36) + Math.random().toString(36).substr(2),\n                unit, title, name, sortOrder: 9, signed: false \n            });\n            addedCount++;\n        }\n    }\n});\n\ncurrentGuests.sort((a, b) => a.sortOrder - b.sortOrder);\nflow.set(\"guestList\", currentGuests);\nmsg.payload = { success: true, addedCount, data: currentGuests };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 520,
        "wires": [
            [
                "c71cf0bb3c8c7416"
            ]
        ]
    },
    {
        "id": "c71cf0bb3c8c7416",
        "type": "http response",
        "z": "0448341862174cb9",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 780,
        "y": 520,
        "wires": []
    }
]