backend/node-red-meetings-my.json
[
    {
        "id": "group_my_meetings",
        "type": "group",
        "name": "GET /api/meetings/my",
        "style": {
            "stroke": "#ff9900",
            "fill": "#fff1d0",
            "fill-opacity": "0.5",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "http_in_my_meetings",
            "func_prepare_sql",
            "mysql_my_meetings",
            "func_format_response",
            "http_out_my_meetings",
            "catch_my_meetings",
            "http_out_error_meetings"
        ],
        "x": 100,
        "y": 100,
        "w": 800,
        "h": 200
    },
    {
        "id": "http_in_my_meetings",
        "type": "http in",
        "z": "YOUR_FLOW_ID",
        "g": "group_my_meetings",
        "name": "",
        "url": "/api/meetings/my",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "func_prepare_sql"
            ]
        ]
    },
    {
        "id": "func_prepare_sql",
        "type": "function",
        "z": "YOUR_FLOW_ID",
        "g": "group_my_meetings",
        "name": "Prepare GET Meetings SQL",
        "func": "// 假定 Token 解析後的使用者 ID 放在 msg.req.user.id，若無則從 headers 讀取\n// 這裡簡單從 query string 讀取 user_id 作為備用測試\nlet userId = msg.req.query.user_id || 1; // 請替換為您的 JWT 解碼邏輯\n\nif (msg.req.user && msg.req.user.id) {\n    userId = msg.req.user.id;\n}\n\n// 撈取與該使用者有相關聯的會議 (發起人 或 受邀人)\nmsg.topic = `\n    SELECT \n        m.*,\n        u.first_name AS admin_first_name,\n        u.last_name AS admin_last_name,\n        d.dept_name AS admin_dept_name,\n        jt.title_name AS admin_title_name,\n        ts.start_time AS confirmed_start,\n        ts.end_time AS confirmed_end\n    FROM Meetings m\n    JOIN Users u ON m.admin_id = u.id\n    LEFT JOIN Departments d ON u.department_id = d.id\n    LEFT JOIN Job_Titles jt ON u.job_title_id = jt.id\n    LEFT JOIN Time_Slots ts ON m.id = ts.meeting_id AND ts.is_final_selected = 1\n    WHERE m.admin_id = ? \n       OR m.id IN (SELECT meeting_id FROM Meeting_Participants WHERE user_id = ?)\n    ORDER BY m.created_at DESC;\n`;\n\nmsg.payload = [userId, userId];\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "mysql_my_meetings"
            ]
        ]
    },
    {
        "id": "mysql_my_meetings",
        "type": "mysql",
        "z": "YOUR_FLOW_ID",
        "g": "group_my_meetings",
        "mydb": "YOUR_MYSQL_DB_ID",
        "name": "MySQL Meetings",
        "x": 600,
        "y": 160,
        "wires": [
            [
                "func_format_response"
            ]
        ]
    },
    {
        "id": "func_format_response",
        "type": "function",
        "z": "YOUR_FLOW_ID",
        "g": "group_my_meetings",
        "name": "Format JSON",
        "func": "msg.payload = msg.payload || [];\n\n// 由於 Node-RED 查詢複雜關聯可能需要多個 Query，這裡簡化處理\n// 若要進一步帶出詳細參與者陣列，可以在這裡根據會議 ID 再去發 request\n// 我們先返回會議列表以供 Dashboard 顯示\n\nreturn msg;",
        "outputs": 1,
        "x": 780,
        "y": 160,
        "wires": [
            [
                "http_out_my_meetings"
            ]
        ]
    },
    {
        "id": "http_out_my_meetings",
        "type": "http response",
        "z": "YOUR_FLOW_ID",
        "g": "group_my_meetings",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 940,
        "y": 160,
        "wires": []
    },
    {
        "id": "catch_my_meetings",
        "type": "catch",
        "z": "YOUR_FLOW_ID",
        "g": "group_my_meetings",
        "name": "Catch Errors",
        "scope": [
            "mysql_my_meetings",
            "func_prepare_sql"
        ],
        "uncaught": false,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "http_out_error_meetings"
            ]
        ]
    },
    {
        "id": "http_out_error_meetings",
        "type": "http response",
        "z": "YOUR_FLOW_ID",
        "g": "group_my_meetings",
        "name": "500 Error",
        "statusCode": "500",
        "headers": {},
        "x": 580,
        "y": 240,
        "wires": []
    }
]