backend/nodered/flows.json
[
    {
        "id": "ea4442fe01f5d3d8",
        "type": "tab",
        "label": "Google Auth Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e7e0c1b5022f3c34",
        "type": "group",
        "z": "ea4442fe01f5d3d8",
        "name": "ä¿è­·??API è·¯ç”± (?€è¦?Token)",
        "style": {
            "stroke": "#009933",
            "fill": "#e6ffe6",
            "label": true
        },
        "nodes": [
            "9b7d1aa060c45a08",
            "bbf09cfda60090a3",
            "12b797160d89148a",
            "fe822fc929297468"
        ],
        "x": 44,
        "y": 479,
        "w": 722,
        "h": 182
    },
    {
        "id": "0141f627f02079e7",
        "type": "http in",
        "z": "ea4442fe01f5d3d8",
        "name": "POST /api/auth/google",
        "url": "/api/auth/google",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "38faa62eb4d33a01"
            ]
        ]
    },
    {
        "id": "38faa62eb4d33a01",
        "type": "function",
        "z": "ea4442fe01f5d3d8",
        "name": "æº–å? Google API è«‹æ?",
        "func": "/**\n * ç¯€é»?Aï¼šæ??™å‘¼??Google API (ç¬?2 ?‹ç?é»?\n */\n\n// ?–å??ç«¯ POST ?ä???token\nlet googleToken = msg.payload.token;\n\nif (!googleToken) {\n    msg.payload = { error: \"ç¼ºå? Google Token\" };\n    msg.statusCode = 400;\n    return [null, msg]; // çµæ?æµç?ä¸¦è·³?°éŒ¯èª¤å??‰\n}\n\n// è¨­å? HTTP Request ç¯€é»è??¼å«?„ç›®æ¨™ç¶²?€\nmsg.url = \"https://oauth2.googleapis.com/tokeninfo?id_token=\" + googleToken;\nmsg.method = \"GET\";\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "a65e0318934e310e",
                "3b21892b5d1f7ec5"
            ],
            [
                "54bcf19b46711739"
            ]
        ]
    },
    {
        "id": "a65e0318934e310e",
        "type": "http request",
        "z": "ea4442fe01f5d3d8",
        "name": "Google Tokeninfo",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 610,
        "y": 120,
        "wires": [
            [
                "d89d9185abdea119"
            ]
        ]
    },
    {
        "id": "d89d9185abdea119",
        "type": "function",
        "z": "ea4442fe01f5d3d8",
        "name": "è§??çµæ?ä¸¦æ???MySQL",
        "func": "/**\n * ç¯€é»?Bï¼šè§£??Google ?æ?ä¸¦æŸ¥è©?MySQL (ç¬?4 ?‹ç?é»?\n */\n\n// è§?? Google ?å‚³??JSON è³‡æ?\nlet googleData = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\n\n// æª¢æŸ¥ Google ?¯å¦?å‚³?¯èª¤\nif (googleData.error) {\n    msg.payload = { error: \"Google é©—è?å¤±æ?\", details: googleData.error_description };\n    msg.statusCode = 401;\n    return [null, msg]; \n}\n\n// ?å??ºå??¨ä?ç¶“é?é©—è???Email ??å§“å?\nlet userEmail = googleData.email;\nlet firstName = googleData.given_name || '';\nlet lastName = googleData.family_name || '';\n\n// å°‡åŸº?¬è??™æš«å­˜èµ·ä¾†ï?å¾Œé¢?ƒç”¨?°\nmsg.userData = {\n    email: userEmail,\n    first_name: firstName,\n    last_name: lastName\n};\n\n// çµ„è? MySQL ?¥è©¢?‡ä»¤ï¼šæª¢?¥æ­¤ Email ?¯å¦å­˜åœ¨?‘å€‘ç? Users è¡¨ä¸­\nmsg.topic = \"SELECT * FROM Users WHERE email = ? LIMIT 1\";\nmsg.payload = [userEmail];\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 240,
        "wires": [
            [
                "16ea2a7cf1e0c9e5"
            ],
            [
                "54bcf19b46711739",
                "222b17a3b91a99d5"
            ]
        ]
    },
    {
        "id": "16ea2a7cf1e0c9e5",
        "type": "mysql",
        "z": "ea4442fe01f5d3d8",
        "mydb": "0bdc806336f756dc",
        "name": "MySQL Users",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "6ca89a47eec1b2e5",
                "834e80bab6cfe9e9"
            ]
        ]
    },
    {
        "id": "6ca89a47eec1b2e5",
        "type": "function",
        "z": "ea4442fe01f5d3d8",
        "name": "?»å…¥?è¼¯?¤æ–·",
        "func": "/**\n * ç¯€é»?Cï¼šåˆ¤?·ç™»?¥ç??‹è??¸ç™¼ Token (ç¬?6 ?‹ç?é»?\n */\n\nlet dbResult = msg.payload; // ?™æ˜¯ MySQL ç¯€é»å??³ç????çµæ?\n\nif (dbResult.length > 0) {\n    // ?Ÿ¢ ?…å?ä¸€ï¼šè??‹å? (è³‡æ?åº«æ?ç´€??\n    let user = dbResult[0];\n    \n    // æª¢æŸ¥ä»–æ˜¯?¦å·²ç¶“å¡«?å–®ä½å??·ç¨±\n    if (user.department_id === null || user.job_title_id === null) {\n        // ?Ÿ¡ ??Email ä½†æ?å¡«å¦¥?·ç¨± (?¯èƒ½ä¸Šæ¬¡è¨»å?ä¸­æ–·)\n        msg.payload = { \n            message: \"è«‹è?é½Šå–®ä½è??·ç¨±è³‡æ?\", \n            action: \"REQUIRE_INFO\",\n            email: msg.userData.email\n        };\n        msg.statusCode = 206; // 206 Partial Content\n    } else {\n        // ?Ÿ¢ è³‡æ?å®Œæ•´ï¼Œç›´?¥ç™¼?¾ç³»çµ±å?å±?Token è®“ä??»å…¥\n        let sessionToken = \"sys_token_\" + new Date().getTime() + \"_\" + user.id; \n        \n        msg.payload = { \n            message: \"?»å…¥?å?\", \n            action: \"LOGIN_SUCCESS\",\n            token: sessionToken,\n            user: {\n                id: user.id,\n                name: user.last_name + user.first_name, global_role: role,\n                last_name: user.last_name,\n                department_id: user.department_id,\n                job_title_id: user.job_title_id,\n                email: user.email,\n                // å¼·åˆ¶?‡å??®å??„è?è²¬äºº Email ?ºè?ç´šç®¡?†å“¡\n                global_role: (user.email === \"yi.kuei.co@gmail.com\") ? \"super_admin\" : (user.global_role || \"user\")\n            }\n        };\n        msg.statusCode = 200;\n    }\n} else {\n    // ?”µ ?…å?äºŒï??°æ???(è³‡æ?åº«æ?ç´€??\n    msg.payload = { \n        message: \"æ­¡è?é¦–æ¬¡?»å…¥ï¼Œè?å¡«å¯«?¨ç??®ä??‡è·ç¨±\", \n        action: \"REQUIRE_INFO\",\n        email: msg.userData.email,\n        first_name: msg.userData.first_name,\n        last_name: msg.userData.last_name\n    };\n    msg.statusCode = 206;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 240,
        "wires": [
            [
                "54bcf19b46711739",
                "0b5da6382a3a626f"
            ]
        ]
    },
    {
        "id": "54bcf19b46711739",
        "type": "http response",
        "z": "ea4442fe01f5d3d8",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "03426062b0789543",
        "type": "http in",
        "z": "ea4442fe01f5d3d8",
        "name": "POST /api/auth/register",
        "url": "/api/auth/register",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "f124bc5b680143a2"
            ]
        ]
    },
    {
        "id": "f124bc5b680143a2",
        "type": "function",
        "z": "ea4442fe01f5d3d8",
        "name": "æº–å? INSERT MySQL",
        "func": "let data = msg.payload;\nnode.warn(\"Login Register Payload received:\");\nnode.warn(data);\n\nif (!data.email || !data.first_name || !data.last_name || (!data.department_id && data.department_id !== 0) || (!data.job_title_id && data.job_title_id !== 0)) {\n    msg.payload = { error: 'è¨»å?è³‡æ?ä¸å???, received: data };\n    msg.statusCode = 400;\n    return [null, msg];\n}\n\nmsg.userData = data;\n\nmsg.topic = 'INSERT INTO Users (email, first_name, last_name, department_id, job_title_id) VALUES (?, ?, ?, ?, ?)';\n\nmsg.payload = [\n    data.email, \n    data.first_name, \n    data.last_name, \n    data.department_id, \n    data.job_title_id\n];\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 360,
        "wires": [
            [
                "f6deaf0956dfb62b"
            ],
            [
                "b04e53ef39615204",
                "283c8031ec939d2c"
            ]
        ]
    },
    {
        "id": "f6deaf0956dfb62b",
        "type": "mysql",
        "z": "ea4442fe01f5d3d8",
        "mydb": "0bdc806336f756dc",
        "name": "MySQL Insert User",
        "x": 630,
        "y": 360,
        "wires": [
            [
                "ca0e2d77592bede9",
                "01cdbe07c9d0cfee"
            ]
        ]
    },
    {
        "id": "ca0e2d77592bede9",
        "type": "function",
        "z": "ea4442fe01f5d3d8",
        "name": "è¨»å??å??¸ç™¼ Token",
        "func": "let sessionToken = 'sys_token_creator_' + new Date().getTime() + '_' + Buffer.from(msg.userData.email).toString('base64');\n\nmsg.payload = {\n    message: 'è¨»å?ä¸¦ç™»?¥æ???,\n    action: 'LOGIN_SUCCESS',\n    token: sessionToken,\n    user: {\n        name: msg.userData.last_name + msg.userData.first_name,\n        last_name: msg.userData.last_name,\n        department_id: msg.userData.department_id,\n        job_title_id: msg.userData.job_title_id,\n        email: msg.userData.email\n    }\n};\nmsg.statusCode = 200;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 360,
        "wires": [
            [
                "b04e53ef39615204"
            ]
        ]
    },
    {
        "id": "b04e53ef39615204",
        "type": "http response",
        "z": "ea4442fe01f5d3d8",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1080,
        "y": 400,
        "wires": []
    },
    {
        "id": "9b7d1aa060c45a08",
        "type": "function",
        "z": "ea4442fe01f5d3d8",
        "g": "e7e0c1b5022f3c34",
        "name": "Token é©—è? (Middleware)",
        "func": "const authHeader = msg.req.headers['authorization'];\n\nif (authHeader && authHeader.startsWith(\"Bearer \")) {\n    const token = authHeader.substring(7);\n    // ?™è£¡?šå¸¸?ƒè§£??Token (ä¾‹å? JWT ?–æ˜¯??DB ?¸å?)\n    // ?ºä?ç°¡å?ï¼Œåªè¦æ? sys_token_ ?‹é ­å°±å??¾è?\n    if (token.startsWith('sys_token_')) {\n        msg.userToken = token;\n        return [msg, null];\n    }\n}\n\nmsg.payload = { error: \"Unauthorized\", message: \"å°šæœª?»å…¥??Token ?¡æ?\" };\nmsg.statusCode = 401;\nreturn [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 560,
        "wires": [
            [
                "fe822fc929297468"
            ],
            [
                "bbf09cfda60090a3",
                "d5929d236fb746f1"
            ]
        ]
    },
    {
        "id": "bbf09cfda60090a3",
        "type": "http response",
        "z": "ea4442fe01f5d3d8",
        "g": "e7e0c1b5022f3c34",
        "name": "401 Unauthorized",
        "statusCode": "401",
        "headers": {},
        "x": 650,
        "y": 620,
        "wires": []
    },
    {
        "id": "12b797160d89148a",
        "type": "http in",
        "z": "ea4442fe01f5d3d8",
        "g": "e7e0c1b5022f3c34",
        "name": "GET /api/admin/users",
        "url": "/api/admin/users",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "9b7d1aa060c45a08"
            ]
        ]
    },
    {
        "id": "fe822fc929297468",
        "type": "http response",
        "z": "ea4442fe01f5d3d8",
        "g": "e7e0c1b5022f3c34",
        "name": "Success Response",
        "statusCode": "200",
        "headers": {},
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "f117ebdb522f5af4",
        "type": "debug",
        "z": "ea4442fe01f5d3d8",
        "name": "SQL ?¯èª¤è¿½è¹¤",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 700,
        "wires": []
    },
    {
        "id": "04b636f418903864",
        "type": "catch",
        "z": "ea4442fe01f5d3d8",
        "name": "?•æ? MySQL ?¯èª¤",
        "scope": [
            "16ea2a7cf1e0c9e5",
            "f6deaf0956dfb62b"
        ],
        "uncaught": false,
        "x": 170,
        "y": 700,
        "wires": [
            [
                "f117ebdb522f5af4"
            ]
        ]
    },
    {
        "id": "222b17a3b91a99d5",
        "type": "debug",
        "z": "ea4442fe01f5d3d8",
        "name": "debug 53",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "3b21892b5d1f7ec5",
        "type": "debug",
        "z": "ea4442fe01f5d3d8",
        "name": "debug 54",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 40,
        "wires": []
    },
    {
        "id": "0b5da6382a3a626f",
        "type": "debug",
        "z": "ea4442fe01f5d3d8",
        "name": "debug 55",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 280,
        "wires": []
    },
    {
        "id": "834e80bab6cfe9e9",
        "type": "debug",
        "z": "ea4442fe01f5d3d8",
        "name": "debug 56",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "283c8031ec939d2c",
        "type": "debug",
        "z": "ea4442fe01f5d3d8",
        "name": "debug 57",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 440,
        "wires": []
    },
    {
        "id": "01cdbe07c9d0cfee",
        "type": "debug",
        "z": "ea4442fe01f5d3d8",
        "name": "debug 58",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 420,
        "wires": []
    },
    {
        "id": "d5929d236fb746f1",
        "type": "debug",
        "z": "ea4442fe01f5d3d8",
        "name": "debug 59",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 640,
        "wires": []
    },
    {
        "id": "0bdc806336f756dc",
        "type": "MySQLdatabase",
        "name": "",
        "host": "10.0.0.5",
        "port": "3306",
        "db": "office",
        "tz": "",
        "charset": "UTF8"
    },

    {
        "id": "admin_get_users_in",
        "type": "http in",
        "z": "ea4442fe01f5d3d8",
        "name": "GET /api/admin/users",
        "url": "/api/admin/users",
        "method": "get",
        "wires": [
            [
                "admin_auth_middleware"
            ]
        ]
    },
    {
        "id": "admin_put_role_in",
        "type": "http in",
        "z": "ea4442fe01f5d3d8",
        "name": "PUT /api/admin/users/role",
        "url": "/api/admin/users/role",
        "method": "put",
        "wires": [
            [
                "admin_auth_middleware"
            ]
        ]
    },
    {
        "id": "admin_auth_middleware",
        "type": "function",
        "z": "ea4442fe01f5d3d8",
        "name": "Admin Auth Guard",
        "func": "const authHeader = msg.req.headers['authorization'];\nif (authHeader && authHeader.startsWith('Bearer ')) {\n    const token = authHeader.substring(7);\n    if (token.includes('super_admin')) {\n        return [msg, null];\n    }\n}\nmsg.payload = { error: 'Unauthorized', message: 'ç®¡ç?æ¬Šé?ä¸è¶³' };\nmsg.statusCode = 403;\nreturn [null, msg];",
        "outputs": 2,
        "wires": [
            [
                "admin_routing_switch"
            ],
            [
                "54bcf19b46711739"
            ]
        ]
    },
    {
        "id": "admin_routing_switch",
        "type": "switch",
        "z": "ea4442fe01f5d3d8",
        "name": "Route by Method",
        "property": "req.method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GET",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PUT",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "wires": [
            [
                "admin_prep_get_sql"
            ],
            [
                "admin_prep_put_sql"
            ]
        ]
    },
    {
        "id": "admin_prep_get_sql",
        "type": "function",
        "z": "ea4442fe01f5d3d8",
        "name": "Prepare GET Users SQL",
        "func": "msg.topic = 'SELECT u.id, u.name, u.first_name, u.last_name, u.email, d.dept_name as dept, u.global_role as role FROM Users u LEFT JOIN Departments d ON u.department_id = d.id';\nreturn msg;",
        "outputs": 1,
        "wires": [
            [
                "admin_mysql_node"
            ]
        ]
    },
    {
        "id": "admin_prep_put_sql",
        "type": "function",
        "z": "ea4442fe01f5d3d8",
        "name": "Prepare PUT Role SQL",
        "func": "let data = msg.payload;\nif (!data.user_id || !data.new_role) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Missing parameters' };\n    return [null, msg];\n}\nmsg.topic = 'UPDATE Users SET global_role = ? WHERE id = ?';\nmsg.payload = [data.new_role, data.user_id];\nreturn [msg, null];",
        "outputs": 2,
        "wires": [
            [
                "admin_mysql_node"
            ],
            [
                "54bcf19b46711739"
            ]
        ]
    },
    {
        "id": "admin_mysql_node",
        "type": "mysql",
        "z": "ea4442fe01f5d3d8",
        "mydb": "0bdc806336f756dc",
        "name": "Admin MySQL",
        "wires": [
            [
                "54bcf19b46711739"
            ]
        ]
    }

]